# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store

# Flask instance folder
instance/
